.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-board {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: flex;
  flex-direction: row;
  height: 100vh;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.game-info {
  flex-grow: 1;
}

.game-info-left {
  background: red;
  flex-grow: 1;
}

.game-info-right {
  background-color: blue;
  flex-grow: 1;
}

.game-info-bottom {
  background: green;
}