.cell {
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 4rem;
    width: 4rem;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    position: relative;
}

.cell > *{
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}

.cell:focus {
    outline: none;
}

.cell.white {
    background: #b5b0b0;
}
.cell.black {
    background: #924040;
}
.cell.selected {
    border: 3px solid #0064de;
}
.cell .cell-move {
    background: yellow;
    border-radius: 7px;
    width: 25px;
    height: 25px;
    opacity: 0.7;
}

.cell > .cell-kill{
    background: yellow;
    border-radius: 7px;
    width: 25px;
    height: 25px;
    opacity: 0.8;
}

/* .kbd-navigation .cell:focus {
    background: #ddd;
} */