.bottomControl {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    flex-grow: 1;
}

.action {
    padding: 1rem;
    margin: 10px;
    height: 3rem;
    width: 3rem;
    border-radius: 10px;
    position: relative;
    border-style: none;
}

.action[status='disabled'] {
    background: #e2e2e24d;
}

.action > svg{
    height: 30px;
}